In [4]:
# Want to do some map plotting :)

import pandas as pd
import reverse_geocoder as rg
from pathlib import Path

df_path = Path(r'Data\Country_Code.csv')
df_path

WindowsPath('Data/Country_Code.csv')

In [5]:
venues_df = pd.read_csv(df_path)
venues_df

,Unnamed: 0,Lat,Long,Venue_Type,Venue_Name,Created_On,latlong,Country
0,0,35.661916,139.735097,shopping,GCゆきざき (GC Yukizaki),1580182467,"(35.66191632, 139.73509669999999)",JP
1,1,35.668955,139.761436,shopping,GCゆきざき (GC Yukizaki),1580182719,"(35.66895489, 139.761436)",JP
2,2,35.663355,139.732951,shopping,GCゆきざき Gem Castle (GC Yukizaki),1580182929,"(35.66335459, 139.73295090000002)",JP
3,3,35.663773,139.731444,shopping,GCゆきざき (GC Yukizaki),1580183013,"(35.66377299, 139.7314435)",JP
4,4,49.595684,17.250112,shopping,Marton's Work,1579299302,"(49.59568425, 17.2501123)",CZ
...,...,...,...,...,...,...,...,...
1096,1096,46.252965,14.455824,transport,Avtoservis Selan,1589371328,"(46.25296472, 14.45582449)",SI
1097,1097,46.019798,14.542299,cafe,Coffee shop P,1589527617,"(46.019797499999996, 14.54229891)",SI
1098,1098,36.717352,-4.421144,default,PM Abogados,1589653233,"(36.7173523, -4.421144128)",ES
1099,1099,46.075251,6.564878,shopping,CITADEL Vault,1589811913,"(46.07525136, 6.564878225)",FR
1100,1100,20.020835,-75.804205,lodging,Casa Piñol,1589808399,"(20.02083498, -75.80420494)",CU