In [1]:
# Imports and inis
import pandas as pd
import reverse_geocoder as rg
from pathlib import Path

# path is relative, so set as needed
df_path = Path(r'Data\CoinMap_NewVenues_since2018.csv')

In [2]:
# Get data
venues_df = pd.read_csv(df_path)

venues_df.head()
venues_df.shape

(6905, 9)

In [20]:
# Custom get country code
def get_country_city(x):
    return rg.search(x)[0].get('cc'), rg.search(x)[0].get('name')

In [5]:
# Zip lat long into one column
venues_df['latlong'] = tuple(zip(venues_df['Lat'],venues_df['Long']))

In [21]:
get_country_city(venues_df['latlong'][77])

('ES', 'Benidorm')

In [23]:

# Test df
temp = venues_df.loc[:15]
temp

,Lat,Long,Venue_Type,Venue_Name,Created_On_Epoch,Created_On,Quarter,Year,Month,latlong
0,10.377644,-75.496582,food,QUESOS NENECO,1564682328,8/1/2019,Quarter 3,2019,8,"(10.37764401, -75.49658239)"
1,40.647499,22.920163,default,Ταπετσαρίες αυτοκινήτων - ΚΑΡΑΜΠΕΡΗΣ ΧΡΗΣΤΟΣ,1530718484,7/4/2018,Quarter 3,2018,7,"(40.64749893, 22.92016268)"
2,42.000524,12.564636,food,AZIENDA AGRICOLA FORTUNATO,1551976752,3/7/2019,Quarter 1,2019,3,"(42.00052447, 12.56463647)"
3,-23.558042,-46.660100,shopping,KriptoBR,1534775809,8/20/2018,Quarter 3,2018,8,"(-23.55804222, -46.66009963)"
4,45.539970,13.734852,shopping,"Buzz, Planet Koper",1574094032,11/18/2019,Quarter 4,2019,11,"(45.53996976, 13.73485208)"
5,10.181132,-68.005028,default,Soporte PC y Criptomonedas,1551983266,3/7/2019,Quarter 1,2019,3,"(10.18113243, -68.00502777)"
6,22.326323,114.205676,food,Wandersnack,1564727493,8/2/2019,Quarter 3,2019,8,"(22.32632341, 114.2056757)"
7,46.068307,14.543801,default,Clarus Dental,1571312234,10/17/2019,Quarter 4,2019,10,"(46.06830686, 14.54380095)"
8,46.056131,14.508138,cafe,Trot Bar,1571312941,10/17/2019,Quarter 4,2019,10,"(46.05613139, 14.5081383)"
9,33.491607,49.052528,default,فروشگاه پرکنی,1540247322,10/22/2018,Quarter 4,2018,10,"(33.49160726, 49.05252814)"
10,7.821304,-72.454973,atm,Athena Bitcoin Cajero,1552056980,3/8/2019,Quarter 1,2019,3,"(7.821303606, -72.45497346)"
11,7.685070,-72.244120,default,REPRESENTACIONES PLAST,1530729864,7/4/2018,Quarter 3,2018,7,"(7.685070484, -72.24411964)"
12,7.771344,-72.226170,default,COMERCIALIZADORA PIVECA CA,1530730169,7/4/2018,Quarter 3,2018,7,"(7.771344184, -72.22617029999999)"
13,22.284733,114.150910,default,Bitcoin ATM,1564732529,8/2/2019,Quarter 3,2019,8,"(22.28473335, 114.1509104)"
14,46.072914,14.468785,default,Avtoservis Belec,1544179564,12/7/2018,Quarter 4,2018,12,"(46.0729143, 14.46878493)"
15,46.540488,15.607334,food,Mlada lipa,1544179669,12/7/2018,Quarter 4,2018,12,"(46.54048785, 15.60733438)"

In [26]:
temp['Country'], temp['City'] = zip(*temp['latlong'].apply(get_country_city))

In [27]:
temp

,Lat,Long,Venue_Type,Venue_Name,Created_On_Epoch,Created_On,Quarter,Year,Month,latlong,Country,City
0,10.377644,-75.496582,food,QUESOS NENECO,1564682328,8/1/2019,Quarter 3,2019,8,"(10.37764401, -75.49658239)",CO,Cartagena
1,40.647499,22.920163,default,Ταπετσαρίες αυτοκινήτων - ΚΑΡΑΜΠΕΡΗΣ ΧΡΗΣΤΟΣ,1530718484,7/4/2018,Quarter 3,2018,7,"(40.64749893, 22.92016268)",GR,Ampelokipoi
2,42.000524,12.564636,food,AZIENDA AGRICOLA FORTUNATO,1551976752,3/7/2019,Quarter 1,2019,3,"(42.00052447, 12.56463647)",IT,Tor Lupara
3,-23.558042,-46.660100,shopping,KriptoBR,1534775809,8/20/2018,Quarter 3,2018,8,"(-23.55804222, -46.66009963)",BR,Sao Paulo
4,45.539970,13.734852,shopping,"Buzz, Planet Koper",1574094032,11/18/2019,Quarter 4,2019,11,"(45.53996976, 13.73485208)",SI,Koper
5,10.181132,-68.005028,default,Soporte PC y Criptomonedas,1551983266,3/7/2019,Quarter 1,2019,3,"(10.18113243, -68.00502777)",VE,Valencia
6,22.326323,114.205676,food,Wandersnack,1564727493,8/2/2019,Quarter 3,2019,8,"(22.32632341, 114.2056757)",HK,Kowloon
7,46.068307,14.543801,default,Clarus Dental,1571312234,10/17/2019,Quarter 4,2019,10,"(46.06830686, 14.54380095)",SI,Ljubljana
8,46.056131,14.508138,cafe,Trot Bar,1571312941,10/17/2019,Quarter 4,2019,10,"(46.05613139, 14.5081383)",SI,Ljubljana
9,33.491607,49.052528,default,فروشگاه پرکنی,1540247322,10/22/2018,Quarter 4,2018,10,"(33.49160726, 49.05252814)",IR,Dorud
10,7.821304,-72.454973,atm,Athena Bitcoin Cajero,1552056980,3/8/2019,Quarter 1,2019,3,"(7.821303606, -72.45497346)",VE,San Antonio del Tachira
11,7.685070,-72.244120,default,REPRESENTACIONES PLAST,1530729864,7/4/2018,Quarter 3,2018,7,"(7.685070484, -72.24411964)",VE,San Josecito
12,7.771344,-72.226170,default,COMERCIALIZADORA PIVECA CA,1530730169,7/4/2018,Quarter 3,2018,7,"(7.771344184, -72.22617029999999)",VE,San Cristobal
13,22.284733,114.150910,default,Bitcoin ATM,1564732529,8/2/2019,Quarter 3,2019,8,"(22.28473335, 114.1509104)",HK,Hong Kong
14,46.072914,14.468785,default,Avtoservis Belec,1544179564,12/7/2018,Quarter 4,2018,12,"(46.0729143, 14.46878493)",SI,Ljubljana
15,46.540488,15.607334,food,Mlada lipa,1544179669,12/7/2018,Quarter 4,2018,12,"(46.54048785, 15.60733438)",SI,Pekre

In [63]:

# Get country of origin THIS TAKES A LONG TIME
venues_df['Country'] = venues_df['latlong'].apply(get_country)

In [64]:
venues_df.head()

,Lat,Long,Venue_Type,Venue_Name,Created_On,latlong,Country
0,35.661916,139.735097,shopping,GCゆきざき (GC Yukizaki),1580182467,"(35.66191632, 139.73509669999999)",JP
1,35.668955,139.761436,shopping,GCゆきざき (GC Yukizaki),1580182719,"(35.66895489, 139.761436)",JP
2,35.663355,139.732951,shopping,GCゆきざき Gem Castle (GC Yukizaki),1580182929,"(35.66335459, 139.73295090000002)",JP
3,35.663773,139.731444,shopping,GCゆきざき (GC Yukizaki),1580183013,"(35.66377299, 139.7314435)",JP
4,49.595684,17.250112,shopping,Marton's Work,1579299302,"(49.59568425, 17.2501123)",CZ

In [66]:
venues_df.to_csv('2LCountryCodes_post2018.csv')