In [54]:
# Imports and inis
import pandas as pd
import reverse_geocoder as rg
from pathlib import Path

# path is relative, so set as needed
df_path = Path(r'Data\CoinMap_NewVenues_May182020_RAW.csv')

In [61]:
# Get data
venues_df = pd.read_csv(df_path)

venues_df.head()
venues_df.shape

(1101, 5)

In [ ]:

# # Test df
# temp = venues_df.loc[:15]
# temp

In [58]:
# Custom get country code
def get_country(x):
    return rg.search(x)[0].get('cc')

In [63]:
# Get country of origin THIS TAKES A LONG TIME
venues_df['latlong'] = tuple(zip(venues_df['Lat'],venues_df['Long']))
venues_df['Country'] = venues_df['latlong'].apply(get_country)

In [64]:
venues_df.head()

,Lat,Long,Venue_Type,Venue_Name,Created_On,latlong,Country
0,35.661916,139.735097,shopping,GCゆきざき (GC Yukizaki),1580182467,"(35.66191632, 139.73509669999999)",JP
1,35.668955,139.761436,shopping,GCゆきざき (GC Yukizaki),1580182719,"(35.66895489, 139.761436)",JP
2,35.663355,139.732951,shopping,GCゆきざき Gem Castle (GC Yukizaki),1580182929,"(35.66335459, 139.73295090000002)",JP
3,35.663773,139.731444,shopping,GCゆきざき (GC Yukizaki),1580183013,"(35.66377299, 139.7314435)",JP
4,49.595684,17.250112,shopping,Marton's Work,1579299302,"(49.59568425, 17.2501123)",CZ

In [66]:
venues_df.to_csv('Country_Code.csv')